.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__link {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 18px;
  text-underline-position: under;
  list-style-type: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  position: relative;
  z-index: 0;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover__title {
  margin: 0 0 135px;
  padding: 170px 50px 0;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
  margin: 0 0 15px 0;
  text-align: start;
}

.aligned-text_center {
  margin: 30px 0 0;
  text-align: center;
}

.aligned-text_right {
  margin: 20px 0 0;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 0 50px 50px;
  text-transform: uppercase;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  display: inline-block;
  min-width: 257px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}

.lots {
  padding: 180px 50px 30px 50px;
  color: #fff;
}

.lots__heading {
  padding: 0 0 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
  width: 450px;
  list-style-type: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 450px;
  text-align: center;
  text-underline-position: under;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  padding: 50px 40px 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0 40px 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-align: left;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  text-decoration: none;
}

.lots__look-more-link {
  padding: 2px 0 90px 90px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 28px;
  padding: 90px 50px 90px;
}

.about-logo__column {
  width: 430px;
  height: 240px;
  padding: 0px 95px;
}

.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: solid;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__title {
  grid-column-start: 2;
  padding: 100px 0 100px 0;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 90px 10px 50px 50px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.footer__address {
  max-width: 240px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-list-item {
  flex-shrink: 0;
  align-self: auto;
  margin-right: 35px;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
